html, body {
    margin: 0;
    background-color: #153d41;
}

.field-container {
    height: 100%;
    width: 100%;
  }

  .myFieldContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  /* //以下左サイド */

  .leftContainer{
    display: flex;
    background-color: aqua;
    width: 500px;
    height: 600px;
    border: 3px solid black; /* ボーダーを追加 */
    flex-direction: column;
    align-items: center;
  }

  .userLeft{
    border-radius: 99px;
    height: 5%;
    width: 80%;
    background-color: #1da536;
    margin-top: 10px;

  }

  .leftItemContainer{
    background-color: #1da536;
    height: 90%;
    width: 100%;
    margin-top :10%;
    display: flex;
    flex-wrap: wrap; /* 折り返し */
    justify-content: space-evenly;
  }

.leftItems{
  background-color: #bb531f;
  height: 50px;
  width: 50px;
  border: 3px solid black; /* ボーダーを追加 */
  margin-top: 15%;

}


    /* //以下真ん中サイド */

  .centerContainer{
    background-color: rgb(31, 144, 86);
    width: 300px;
    height: 620px;
    border: 3px solid black; /* ボーダーを追加 */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .centerItemContainer{
    height: 100%;
    width: 100%;
    background-color: #d83d04;
    display: flex;
    /* justify-content: space-evenly; */
    flex-direction: column;
    align-items: center;
  }

  .CentaerButtonContainer{
    height: 40%;
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: #bb531f;
    justify-content: space-evenly;

  }

  .attackToOtherButton{
    height: 40%;
    border-radius: 99px;
  }

  .attackToMeButton{
    height: 25%;
    border-radius: 99px;
  }


  .CenterGunContainer{
    height: 30%;
    width: 100%;
    display: flex;
    background-color: #bb531f;
    justify-content: space-evenly;  }

    .CenterDiscriptionContainer{
      font-size: 13px;
      height: 30%;
      width: 100%;
      display: flex;
      background-color: #bb531f;
      justify-content: space-evenly;  }

    /* //以下右サイド */


  .rightContainer{
    display: flex;
    background-color: rgb(127, 159, 28);
    width: 500px;
    height: 600px;  
    border: 3px solid black; /* ボーダーを追加 */
    flex-direction: column;
    align-items: center;
  }


  .userRight{
    border-radius: 99px;
    height: 5%;
    width: 80%;
    background-color: #1da536;
    margin-top: 10px;
  }


  .rightItemContainer{
    background-color: #1da536;
    height: 90%;
    width: 100%;
    margin-top :10%;
    display: flex;
    flex-wrap: wrap; /* 折り返し */
    justify-content: space-evenly;
  }


  .rightItems{
    background-color: #bb531f;
    height: 50px;
    width: 50px;
    border: 3px solid black; /* ボーダーを追加 */
    margin-top: 15%;
  
  }




  /* //スイッチ */

.btn-switch input {
  display: none;
}


.btn-switch-in {
  position: relative;

  display: block;

  width: 50px;
  height: 120px;

  -webkit-transition: all 0.2s;

  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#8c1313),
    color-stop(84%, #ff2a2a)
  );
  background-image: -webkit-linear-gradient(bottom, #8c1313 0%, #ff2a2a 84%);
  background-image: linear-gradient(to top, #8c1313 0%, #ff2a2a 84%);
  -webkit-box-shadow: inset 0 20px 60px -200px rgba(240, 0, 0, 0.2),
    inset 8px 6px 5px -7px #f95253, inset -8px 6px 5px -7px #f95253,
    inset 0 -3px 2px -2px rgba(200, 200, 200, 0.5), 0 3px 3px -2px #f95253,
    inset 0 230px 60px -200px rgba(255, 255, 255, 0.2),
    0 -20px 50px 10px rgba(240, 0, 0, 0.3);
  box-shadow: inset 0 20px 60px -200px rgba(240, 0, 0, 0.2),
    inset 8px 6px 5px -7px #f95253, inset -8px 6px 5px -7px #f95253,
    inset 0 -3px 2px -2px rgba(200, 200, 200, 0.5), 0 3px 3px -2px #f95253,
    inset 0 230px 60px -200px rgba(255, 255, 255, 0.2),
    0 -20px 50px 10px rgba(240, 0, 0, 0.3);
}

.btn-switch-in .on {
  font-size: 20px;
  font-weight: bold;

  position: absolute;
  top: 25px;
  left: 0;

  width: 100%;

  -webkit-transition: all 0.1s ease;

  transition: all 0.1s ease;
  text-align: center;

  opacity: 1;
  color: #fff;
  text-shadow: 0 0 5px #ffc7c7, 0 0 5px #ffc7c7, 0 0 5px #ffc7c7,
    0 0 5px #ffc7c7;
}

.btn-switch-in .off {
  font-size: 20px;
  font-weight: bold;

  position: absolute;
  bottom: 20px;
  left: 0;

  width: 100%;

  -webkit-transition: all 0.3s ease;

  transition: all 0.3s ease;
  -webkit-transform: scaleY(0.9);
  transform: scaleY(0.9);
  text-align: center;

  opacity: 0.5;
  color: #500101;
}

.btn-switch input:checked + .btn-switch-bg .on {
  height: 20px;

  -webkit-transform: scaleY(0.85);

  transform: scaleY(0.85);

  opacity: 0.6;
  color: #500101;
  text-shadow: none;
}

.btn-switch input:checked + .btn-switch-bg .off {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);

  opacity: 0.5;
}

.btn-switch input:checked + .btn-switch-bg .btn-switch-in {
  margin-top: 20px;

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#f95253),
    color-stop(74%, #b40000)
  );

  background-image: -webkit-linear-gradient(bottom, #f95253 0%, #b40000 74%);

  background-image: linear-gradient(to top, #f95253 0%, #b40000 74%);
  -webkit-box-shadow: inset 1px 1px 1px 1px rgba(255, 255, 255, 0.5),
    inset 8px -4px 5px -7px black, inset -8px -4px 5px -7px black,
    0 -3px 8px -4px rgba(250, 250, 250, 0.4), inset 0 3px 4px -2px #0a0a0a,
    inset 0 280px 40px -200px rgba(0, 0, 0, 0.2),
    inset 0 -200px 40px -200px rgba(180, 180, 180, 0.2);
  box-shadow: inset 1px 1px 1px 1px rgba(255, 255, 255, 0.5),
    inset 8px -4px 5px -7px black, inset -8px -4px 5px -7px black,
    0 -3px 8px -4px rgba(250, 250, 250, 0.4), inset 0 3px 4px -2px #0a0a0a,
    inset 0 280px 40px -200px rgba(0, 0, 0, 0.2),
    inset 0 -200px 40px -200px rgba(180, 180, 180, 0.2);
}

.btn-switch input:checked + .btn-switch-bg {
  background-image: -webkit-linear-gradient(90deg, #000 30%, transparent 70%),
    -webkit-linear-gradient(180deg, rgba(250, 250, 250, 0) 0%, rgba(
            250,
            250,
            250,
            0.5
          )
          50%, rgba(150, 150, 150, 0) 100%);
  -webkit-box-shadow: 30px 30px 30px -20px rgba(0, 0, 0, 0.1),
    -30px 30px 30px -20px rgba(0, 0, 0, 0.1), 0 30px 30px 0 rgba(0, 0, 0, 0.2),
    inset 0 1px 2px 0 rgba(0, 0, 0, 0.6);
  box-shadow: 30px 30px 30px -20px rgba(0, 0, 0, 0.1),
    -30px 30px 30px -20px rgba(0, 0, 0, 0.1), 0 30px 30px 0 rgba(0, 0, 0, 0.2),
    inset 0 1px 2px 0 rgba(0, 0, 0, 0.6);
}




